<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>departureTime</key>
		<string>13:04</string>
		<key>arrivalTime</key>
		<string>15:46</string>
		<key>changes</key>
		<string>1</string>
	</dict>
	<dict>
		<key>departureTime</key>
		<string>13:32</string>
		<key>arrivalTime</key>
		<string>16:15</string>
		<key>changes</key>
		<string>0</string>
	</dict>
	<dict>
		<key>departureTime</key>
		<string>14:04</string>
		<key>arrivalTime</key>
		<string>16:46</string>
		<key>changes</key>
		<string>0</string>
	</dict>
	<dict>
		<key>departureTime</key>
		<string>14:32</string>
		<key>arrivalTime</key>
		<string>17:15</string>
		<key>changes</key>
		<string>0</string>
	</dict>
	<dict>
		<key>departureTime</key>
		<string>15:04</string>
		<key>arrivalTime</key>
		<string>17:46</string>
		<key>changes</key>
		<string>1</string>
	</dict>
	<dict>
		<key>departureTime</key>
		<string>15:32</string>
		<key>arrivalTime</key>
		<string>18:15</string>
		<key>changes</key>
		<string>0</string>
	</dict>
	<dict>
		<key>departureTime</key>
		<string>16:04</string>
		<key>arrivalTime</key>
		<string>18:46</string>
		<key>changes</key>
		<string>0</string>
	</dict>
	<dict>
		<key>departureTime</key>
		<string>16:32</string>
		<key>arrivalTime</key>
		<string>19:15</string>
		<key>changes</key>
		<string>0</string>
	</dict>
	<dict>
		<key>departureTime</key>
		<string>17:04</string>
		<key>arrivalTime</key>
		<string>19:46</string>
		<key>changes</key>
		<string>1</string>
	</dict>
	<dict>
		<key>departureTime</key>
		<string>17:32</string>
		<key>arrivalTime</key>
		<string>20:15</string>
		<key>changes</key>
		<string>0</string>
	</dict>
	<dict>
		<key>departureTime</key>
		<string>18:04</string>
		<key>arrivalTime</key>
		<string>20:46</string>
		<key>changes</key>
		<string>0</string>
	</dict>
	<dict>
		<key>departureTime</key>
		<string>18:32</string>
		<key>arrivalTime</key>
		<string>21:15</string>
		<key>changes</key>
		<string>0</string>
	</dict>
	<dict>
		<key>departureTime</key>
		<string>19:04</string>
		<key>arrivalTime</key>
		<string>21:46</string>
		<key>changes</key>
		<string>1</string>
	</dict>
	<dict>
		<key>departureTime</key>
		<string>19:32</string>
		<key>arrivalTime</key>
		<string>22:15</string>
		<key>changes</key>
		<string>0</string>
	</dict>
	<dict>
		<key>departureTime</key>
		<string>20:04</string>
		<key>arrivalTime</key>
		<string>23:04</string>
		<key>changes</key>
		<string>1</string>
	</dict>
	<dict>
		<key>departureTime</key>
		<string>09:04</string>
		<key>arrivalTime</key>
		<string>11:46</string>
		<key>changes</key>
		<string>1</string>
	</dict>
	<dict>
		<key>departureTime</key>
		<string>09:32</string>
		<key>arrivalTime</key>
		<string>12:15</string>
		<key>changes</key>
		<string>0</string>
	</dict>
	<dict>
		<key>departureTime</key>
		<string>10:04</string>
		<key>arrivalTime</key>
		<string>12:46</string>
		<key>changes</key>
		<string>0</string>
	</dict>
	<dict>
		<key>departureTime</key>
		<string>10:32</string>
		<key>arrivalTime</key>
		<string>13:15</string>
		<key>changes</key>
		<string>0</string>
	</dict>
	<dict>
		<key>departureTime</key>
		<string>11:04</string>
		<key>arrivalTime</key>
		<string>13:46</string>
		<key>changes</key>
		<string>1</string>
	</dict>
</array>
</plist>
