<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>identifier</key>
		<integer>101</integer>
		<key>name</key>
		<string>Bern Ausserholligen</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>1</integer>
		<key>name</key>
		<string>Aarau</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>2</integer>
		<key>name</key>
		<string>Aigle</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>3</integer>
		<key>name</key>
		<string>Amriswil</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>4</integer>
		<key>name</key>
		<string>Arth-Goldau</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>5</integer>
		<key>name</key>
		<string>Baden</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>6</integer>
		<key>name</key>
		<string>Basel SBB</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>7</integer>
		<key>name</key>
		<string>Bellinzona</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>8</integer>
		<key>name</key>
		<string>Bern</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>9</integer>
		<key>name</key>
		<string>Bex</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>10</integer>
		<key>name</key>
		<string>Biasca</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>11</integer>
		<key>name</key>
		<string>Biel/Bienne (German)</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>12</integer>
		<key>name</key>
		<string>Biel/Bienne (French)</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>13</integer>
		<key>name</key>
		<string>Brig</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>14</integer>
		<key>name</key>
		<string>Brugg AG</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>15</integer>
		<key>name</key>
		<string>Buchs SG</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>16</integer>
		<key>name</key>
		<string>Bülach</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>17</integer>
		<key>name</key>
		<string>Burgdorf</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>18</integer>
		<key>name</key>
		<string>Chiasso</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>19</integer>
		<key>name</key>
		<string>Chur</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>20</integer>
		<key>name</key>
		<string>Delémont</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>21</integer>
		<key>name</key>
		<string>Dietikon</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>22</integer>
		<key>name</key>
		<string>Effretikon</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>23</integer>
		<key>name</key>
		<string>Flawil</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>24</integer>
		<key>name</key>
		<string>Frauenfeld</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>25</integer>
		<key>name</key>
		<string>Fribourg (German)</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>26</integer>
		<key>name</key>
		<string>Fribourg (French)</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>27</integer>
		<key>name</key>
		<string>Frick</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>28</integer>
		<key>name</key>
		<string>Genève</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>29</integer>
		<key>name</key>
		<string>Genève-Aéroport</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>30</integer>
		<key>name</key>
		<string>Glarus</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>31</integer>
		<key>name</key>
		<string>Gossau SG</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>32</integer>
		<key>name</key>
		<string>Grenchen Nord</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>33</integer>
		<key>name</key>
		<string>Grenchen Süd</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>34</integer>
		<key>name</key>
		<string>Heerbrugg</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>35</integer>
		<key>name</key>
		<string>Herzogenbuchsee</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>36</integer>
		<key>name</key>
		<string>Konstanz</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>37</integer>
		<key>name</key>
		<string>Kreuzlingen</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>38</integer>
		<key>name</key>
		<string>La Chaux-de-Fonds</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>39</integer>
		<key>name</key>
		<string>Langenthal</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>40</integer>
		<key>name</key>
		<string>Laufen</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>41</integer>
		<key>name</key>
		<string>Lausanne</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>42</integer>
		<key>name</key>
		<string>Lenzburg</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>43</integer>
		<key>name</key>
		<string>Liestal</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>44</integer>
		<key>name</key>
		<string>Locarno</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>45</integer>
		<key>name</key>
		<string>Lugano</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>46</integer>
		<key>name</key>
		<string>Luzern</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>47</integer>
		<key>name</key>
		<string>Lyss</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>48</integer>
		<key>name</key>
		<string>Martigny</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>49</integer>
		<key>name</key>
		<string>Montreux</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>50</integer>
		<key>name</key>
		<string>Morges</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>51</integer>
		<key>name</key>
		<string>Moutier</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>52</integer>
		<key>name</key>
		<string>Nuechâtel</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>53</integer>
		<key>name</key>
		<string>Nyon</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>54</integer>
		<key>name</key>
		<string>Olten</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>55</integer>
		<key>name</key>
		<string>Palézieux</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>56</integer>
		<key>name</key>
		<string>Pfäffikon SZ</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>57</integer>
		<key>name</key>
		<string>Porrentruy</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>58</integer>
		<key>name</key>
		<string>Rapperswil</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>59</integer>
		<key>name</key>
		<string>Renens VD</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>60</integer>
		<key>name</key>
		<string>Rheinfelden</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>61</integer>
		<key>name</key>
		<string>Romanshorn</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>62</integer>
		<key>name</key>
		<string>Romont</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>63</integer>
		<key>name</key>
		<string>Rorschach</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>64</integer>
		<key>name</key>
		<string>Rotkreuz</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>65</integer>
		<key>name</key>
		<string>Sargans</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>66</integer>
		<key>name</key>
		<string>Schaffhausen</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>67</integer>
		<key>name</key>
		<string>Sierre/Siders</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>68</integer>
		<key>name</key>
		<string>Sion</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>69</integer>
		<key>name</key>
		<string>Sissach</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>70</integer>
		<key>name</key>
		<string>Solothurn</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>71</integer>
		<key>name</key>
		<string>St. Gallen</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>72</integer>
		<key>name</key>
		<string>St. Margrethen</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>73</integer>
		<key>name</key>
		<string>St-Maurice</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>74</integer>
		<key>name</key>
		<string>Sursee</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>75</integer>
		<key>name</key>
		<string>Thalwil</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>76</integer>
		<key>name</key>
		<string>Thun</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>77</integer>
		<key>name</key>
		<string>Uster</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>78</integer>
		<key>name</key>
		<string>Uznach</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>79</integer>
		<key>name</key>
		<string>Uzwil</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>80</integer>
		<key>name</key>
		<string>Vevey</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>81</integer>
		<key>name</key>
		<string>Visp</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>82</integer>
		<key>name</key>
		<string>Wädenswil</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>83</integer>
		<key>name</key>
		<string>Wattwil</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>84</integer>
		<key>name</key>
		<string>Weinfelden</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>85</integer>
		<key>name</key>
		<string>Wetzikon</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>86</integer>
		<key>name</key>
		<string>Wil</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>87</integer>
		<key>name</key>
		<string>Winterthur</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>88</integer>
		<key>name</key>
		<string>Yverdon-les-Bains</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>89</integer>
		<key>name</key>
		<string>Ziegelbrücke</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>90</integer>
		<key>name</key>
		<string>Zofingen</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>91</integer>
		<key>name</key>
		<string>Zug</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>92</integer>
		<key>name</key>
		<string>Zürich Flughafen</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>93</integer>
		<key>name</key>
		<string>Zürich HB</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>94</integer>
		<key>name</key>
		<string>Zürich Oerlikon</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>100</integer>
		<key>name</key>
		<string>Bern Wankdorf</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>101</integer>
		<key>name</key>
		<string>Bern Ausserholligen</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>102</integer>
		<key>name</key>
		<string>Bern Stöckacker</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>103</integer>
		<key>name</key>
		<string>Bern Weissenbühl</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>104</integer>
		<key>name</key>
		<string>Wabern bei Bern</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>105</integer>
		<key>name</key>
		<string>Bern Tiefenau</string>
		<key>longitude</key>
		<real>41.24324</real>
		<key>latitude</key>
		<real>39.234525</real>
	</dict>
</array>
</plist>
