<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>sectionName</key>
		<string>Stations/Stops</string>
		<key>content</key>
		<array>
			<dict>
				<key>type</key>
				<integer>0</integer>
				<key>stationName</key>
				<string>Zurich HB</string>
				<key>time</key>
				<string>09:04</string>
				<key>track</key>
				<string>3</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>comments</key>
				<string>ICN 1516, InterCity tilting</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>stationName</key>
				<string>Biel/Bienne</string>
				<key>track</key>
				<string>5</string>
				<key>time</key>
				<string>10:13</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>3</integer>
				<key>stationName</key>
				<string>Biel/Bienne</string>
				<key>track</key>
				<string>4</string>
				<key>time</key>
				<string>10:19</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>comments</key>
				<string>ICN 616, InterCity tilting</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>4</integer>
				<key>stationName</key>
				<string>Genève</string>
				<key>track</key>
				<string>2</string>
				<key>time</key>
				<string>11:46</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string></string>
		<key>id</key>
		<integer>1</integer>
		<key>content</key>
		<array>
			<string>Duration: 2:42</string>
		</array>
	</dict>
</array>
</plist>
